nav {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  background-color: #078;
}

nav a {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px; 
  text-decoration: none;
  border-radius: 20px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 14px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a:hover {
  background-color: white;
  color: #333;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
}

.gallery, .favorites {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 16px;
}

@media (min-width: 1024px) {
  .gallery, .favorites {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gallery, .favorites {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 767px) {
  .gallery, .favorites {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .photo-card {
    width: 100%;
    height: auto;
  }
}

.search-input {
  margin-left: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}
